<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo03">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [ngbCollapse]="!isCollapsed">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a routerLink="/" class="nav-link active">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a routerLink="/students" class="nav-link">Quản lý học sinh</a>
            </li>
            <li class="nav-item">
                <a routerLink="/bills" class="nav-link">Quản lý hóa đơn</a>
            </li>
            <li class="nav-item">
                <a routerLink="/teachers" class="nav-link ">Quản lý giáo viên</a>
            </li>
            <li class="nav-item">
                <a routerLink="/class" class="nav-link ">Quản lý lớp</a>
            </li>
            <li class="nav-item">
                <a routerLink="/courses" class="nav-link ">Quản lý khóa học</a>
            </li>
        </ul>

        <div class="my-2 my-lg-0">
            <ng-template #anonymousUser>
                <a routerLink="/login" class="btn btn-outline-info mr-md-3 mx-sm-0 ml-md-3">Đăng nhập</a>
            </ng-template>
            <div ngbDropdown *ngIf="appUser; else anonymousUser" class="d-inline-block">
                <a class="nav-link active text-light" id="dropdownBasic1" ngbDropdownToggle>{{appUser.name}}</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <ng-container  *ngIf="appUser.isAdmin">
                       <a class="dropdown-item">Admin Detected</a>
                    </ng-container >
                    <a (click)="logout()" class="dropdown-item">Thoát</a>
                </div>
            </div>
        </div>

    </div>
</nav>