<form #f="ngForm" class="my-3" (ngSubmit)="save(f.value)">
  <div class="form-row">
    <div class="form-group col">
      <label for="title">Tên khóa học</label>
      <input ngModel id="title" name="title" type="text" class="form-control" placeholder="Tên khóa học">
    </div>
    <div class="form-group col">
      <label for="price">Giá tiền</label>
      <div class="input-group">
        <input ngModel type="number" class="form-control" placeholder="Giá tiền" name="price" id="price">
        <span class="input-group-addon">,000 Vnd</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="imageUrl">Ảnh khóa học</label>
    <div class="input-group">
      <span class="input-group-addon">Url</span>
      <input ngModel type="text" class="form-control" placeholder="Ảnh khóa học" name="imageUrl" id="imageUrl">
    </div>
  </div>
  <div class="form-group">
      <label for="description">Nội dung khóa học</label>
      <div class="input-group">
        <textarea ngModel class="form-control" name="description" id="description" placeholder="Nội dung khóa học"></textarea>
      </div>
    </div>

  <button type="submit" class="btn btn-primary">Tạo khóa học</button>
</form>