<div>
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="name">Tên học sinh</label>
        <input #name="ngModel" [(ngModel)]="student.name" type="text" class="form-control" id="name" name="name" placeholder="Tên học sinh" required>
      </div>
      <div class="form-group">
          <label for="mobile">Số điện thoại</label>
          <input [(ngModel)]="student.mobile" type="number" class="form-control" id="mobile" name="mobile" placeholder="Điện thoại" required>
        </div>
      <div class="form-group">
        <label for="dob">Sinh ngày</label>
        <input [(ngModel)]="student.dob" type="date" class="form-control" id="dob" name="dob" placeholder="Sinh nhật" required>
      </div>
      <div class="form-group">
        <label for="address">Địa chỉ</label>
        <input [(ngModel)]="student.address" type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ">
      </div>
      <div class="form-group">
        <label for="fbUrl">Facebook link</label>
        <input #fbUrl="ngModel" [(ngModel)]="student.fbUrl" type="text" class="form-control" id="fbUrl" name="fbUrl" placeholder="Facebook Link" url>
      </div>
      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input #isTeacher [(ngModel)]="student.isTeacher" type="checkbox" class="custom-control-input" name="isTeacher" id="isTeacher">
          <span class="custom-control-indicator"></span>
          <span class="h4 text-warning"><i class="fa fa-fire" aria-hidden="true"></i></span>
          <span class="custom-control-description"> Giáo viên</span>
        </label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{(!id) ? "Tạo" : "Cập nhật" }}</button>
      <button *ngIf="id" (click)="delete()" type="button" class="btn btn-danger">Xóa</button>
    </form>
</div>  